@model Community.Models.PostModelVm

@{
    ViewBag.Title = "Community Activities Classfied Ads";
    ViewBag.page = "Home";
}
<style>
    ul.blog-tags a {
        background: #eee;
        padding: 1px 4px;
        margin: 0 4px 4px 0;
        display: inline-block;
    }
</style>
<div class="container">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            index
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row margin-top-10">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">Post Ads</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                </div>
                <div class="portlet-body clearfix">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked" id="category">
                            <li class="active" data-id="0">
                                <a href="javascript:;">
                                    <span class="badge badge-warning pull-right">
                                        @Model.posts.ToList().Count()
                                    </span>
                                    All Category
                                </a>
                            </li>
                            @foreach (var item in Model.categories)
                            {
                                <li data-id="@item.Id">
                                    <a href="javascript:;">
                                        <span class="badge badge-success pull-right">
                                            @Model.posts.Where(q => q.CategoryId == @item.Id).Count()
                                        </span>
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet box">
                            <div class="portlet-title">
                                <div class="caption">
                                </div>
                                <div class="actions">
                                    <select class="form-control" id="filter" name="filter">
                                        <option value="newest">Newest First</option>
                                        <option value="oldest">Oldest First</option>
                                        <option value="asc" >By Title (A to Z)</option>
                                        <option value="desc">By Title (Z to A)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="portlet-body" id="postListPanel">
                                @Html.Partial("postComponents")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
@section scripts {
    <script>

        $(document).on('change', "select#filter", function () {
            var filterName = $("select#filter").val();
            var category = $("#category").children("li.active").data("id");
            getPosts(filterName, category);
        });

        $(document).on('click', "#category > li", function () {
            $(this).parent().children("li").removeClass("active");
            $(this).addClass("active");
            var filterName = $("select#filter").val();
            var category = $("#category").children("li.active").data("id");
            getPosts(filterName, category);
        });

        function getPosts(filterName, category) {
            $.get(`Home/filter?filterName=${filterName}&category_id=${category}`, function (res) {
                $("#postListPanel").html(res);
            });
        }
    </script>
}