@model Community.Models.PostModelVm
@using Microsoft.AspNet.Identity;

@foreach (var item in Model.posts)
{
<div id="ads_@item.Id" class="well" style="background-color: white;">
    @if (User.Identity.GetUserId() == item.UserId)
    {
        <button style="float:right" class="btn red" onclick="removePost(@item.Id)"><i class="fa fa-trash-o"></i></button>
    }
    <a href="/post/details/@item.Id"><h4 class="block" style="color: #1d96fd; font-weight: bold; display: inline-block; cursor:pointer">@item.Title</h4></a>
    <span style="color: red">(@Model.GetDelayTime(item.created_at))</span>
    <span style="margin-bottom: 5px; display: block; color: #a7a2a2"></span>
    <ul class="list-inline blog-tags">
        <li>
            <i class="fa fa-tags"></i>
            @foreach (var tagItem in @item.Tags)
            {
                <a href="javascript:;">
                    @tagItem.Name
                </a>
            }
        </li>
    </ul>
    <p style="margin-top: 10px;">
        @Html.Raw(item.Description)
    </p>
</div>
}
<script>
    function removePost(postId) {
        bootbox.confirm("Are you sure you want to delete this Ads?", function (res) {
            if (res) {
                $.post(`/Post/remove/${postId}`, function (res) {
                    toastr.info(res, "Information");
                    $("#ads_" + postId).remove();
                });
            }
        })
    }
</script>