@model IEnumerable<Community.Models.CategoryVM>

@{
    if ( Model.ToList().Count > 0)
    {
        int parentIndex = 0;
        int childIndex = 0;
        int i = 0;
        int indent = 1;

        foreach (var item in Model)
        {
            if (item.ParentID == 0)
            {
                parentIndex++;
                childIndex = 0;
                indent = 0;
            }
            else
            {
                childIndex++;
                indent = item.Level * 10;
            }

            <tr>
                <td style="text-indent: @indent.ToString()px" >

                    @if ( item.ParentID == 0 )
                    {
                        @parentIndex;
                    } else {
                        @childIndex;
                    }
                </td>
                <td>@item.Name</td>
                <td>@parentIndex</td>
                <td>
                    <div class="task-config-btn btn-group">
                        <a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;" id="pending" onclick="onEdit(@item.Id, @item.ParentID, '@item.Name')">
                                    <i class="fa fa-pencil"></i> edit
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" id="approve" onclick="onDelete(@item.Id)">
                                    <i class="fa fa-trash"></i>delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

        }
    }
    else
    {
        <tr>
            <td colspan="3" style="text-align: center">No record</td>
        </tr>
    }
}
